*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    height: auto;
    width: 1520px;
}
body{
    height: max-content;
    width: max-content;
}
.container{
    height: 90px;
    display: flex;
    justify-content: space-between;    
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    
}
.image{
    width: 600px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
img{
    width: 190px;
    height: 80px;
    margin-right: 90px;
}
.things-right {
    display: flex;
    margin-left: 100px;
    position: relative;
    width: 100px;
    justify-content: flex-end;   
}
.things-right span{
    position: absolute;
    top: -11px;
    left: 54px;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 2.25px 6.75px;
    font-size: 15px;
}
.things-right i{    
    
    font-size: 22px;
    margin-left: 17px;
}
.things-left{
    margin-right: 100px;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.things-left i{

    font-size: 24px;
    color: gray;
    margin-left: 15px;
}   

.down-items{
    display: flex;
    border-top: 0.5px solid black;
    justify-content: space-between;
    width: 1540px;
    
}
.downs-left{
    margin-left: 130px;
    margin-top: 19px;
}
.downs-right{
    margin-right: 50px;
    margin-top: 19px;
    
}
.downs-left span{
     justify-content:space-between;
     margin-right: 50px;
     cursor: pointer;
}
.downs-right input{
      font-size: 20px;
      width: 500px;
}
.containerdark{
    height: 90px;
    display: flex;
    justify-content: space-between;    
    flex-direction: row;
    align-items: center;
    background-color:#151D20;  
    width: 1540px;  
    margin-top: 150px;
}

.down-itemsdark{
    display: flex;
    border-top: 0.5px solid gray;
    justify-content: space-between;
    width: 1540px;
    height: 50px;
    background-color: #151D20;  
    align-items: center; 

}
.things-rightdark{
    margin-left: 90px;
    margin-right: 20px;
}
.things-rightdark i{    
    
    font-size: 22px;
    margin-left: 17px;
    color: white;
}
.downs-rightdark input{
    font-size: 20px;
    width: 500px;
    background-color: #151D20;
    border: 1px solid white;
    margin-right: 50px;
}
.downs-leftdark span{
    justify-content:space-between;
    cursor: pointer;
    color: aliceblue;
    margin-top: 110px;
    margin-left: 65px;   
}

